*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* navbar top */
.navbar-top{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.social-link i img{
    margin-left: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.social-link i img:hover{
    background-color: rgba(238,224,208);
    border-radius: 50px;
}
@media screen and (max-width:420px){
    .social-link i img{
        width: 20px;
    }
}
.logo h3{
    font-weight: bold;
}
@media screen and (max-width:420px){
    .logo h3{
        font-size: 20px;
    }
}
.icons i img{
    margin-left: 10px;
    cursor: pointer;
}
@media screen and (max-width:420px){
    .icons i img{
        width: 20px;
    }
}
/* navbar top */


/* navbar */
#navbar-color{
    background-color: antiquewhite;
}
.navbar-nav{
    margin: auto;
}
.nav-link{
    margin-left: 30px;
    font-weight: bold;
    color: black;
    transition: 0.5s ease;
    cursor: pointer;
}
.nav-link:hover{
    color: green;
}
/* navbar */

/* card */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1200px;
    width: 100%;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    margin-top: 0;
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card p {
    color: #555;
  font-family: fantasy;
}
  /* card */
  h4{
    text-align: center;
    font-family: Verdana,  Tahoma, sans-serif;
    margin-bottom: 40px;
    padding: 30px;
    color: #555;
  }
  h4:hover{
    transform: scale(1.03);
  }

  #btn3{
    text-align: center;
  }
  #btn3 button{
    width: 150px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;
  }
  #btn3 button:hover{
    background-color: rgba(238,224,208);
  } 
  .chairpage{
    background-color: #d5effa;
  }

  
#footer{
    width: 100%;
    background-color: black;
    margin-top: 100px;
}
#footer h1{
    color: white;
    padding-top: 30px;
}
#footer p{
    color: white;
}
.icons i{
    color: rgba(238,224,208);
    font-size: 30px;
    cursor: pointer;
}
.copyright{
    color: white;
    margin-top: 20px;
}
.credite{
    color: white;
}
/* footer */
 